body {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2F2F2F;
}


h2,
h3,
h4,
h5,
h6,
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  font-family: Outfit, sans-serif;
  line-height: 64px
}

h1 {
  font-size: 64px;
  font-weight: 400;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.48px;
}

