.hero__container {
  display: flex;
  align-items: center;
  padding-bottom: calc(180px + 41px);
  padding-top: 50px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-right: 64px;
}
.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
/*   max-width: 600px; */
}

.hero__subtitle {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: var(--small-text-color-green);
}

.hero__title {
  font-size: 64px;
  line-height: 64px;
}

.hero__text {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.hero__content-pictures {
position: relative;
  display: flex;
  justify-content: space-between;
}
